<title>{% block title %}About{% endblock %}</title>

{% include "header.html" %}

<div class="bg-dark rounded mt-4 mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">About Us</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 260px; border-radius: 21px 21px 0 0;"><p class="text-center text-dark pt-4 px-1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Facilisis leo vel fringilla est. Nunc sed velit dignissim sodales ut eu sem. Ultricies leo integer malesuada nunc vel risus commodo viverra.
        </p>
        </div>
      </div>

{% include "footer.html" %}