
<title>{% block title %}Log In{% endblock %}</title>
{% include "header.html" %}
{% if edit: %}
<div class="container p-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-12 col-xl-11">

        <div class="card pt-4 text-black" style="border-radius: 25px;">
          <div class="card-body p-md-3 pl-2">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign In</p>
                  <div class="px-5 d-flex flex-row align-items-center mb-4">
                {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        {% for message in messages %}
                         <p style="color: red;">{{ message }}</p>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                </div>
                <form class="mx-1 mx-md-4" method="post">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example3c">Your Email</label>
                      <input required="required" name="email" placeholder="Email Address" type="email" id="form3Example3c" class="form-control" />

                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example4c">Password</label>
                      <input required="required" name="password" placeholder="Input Password" type="password" id="form3Example4c" class="form-control" />

                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <button style="background-color: #C38154; color: #fff;" type="submit" class="btn btn-lg">Login</button>
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>

                  </div>
                <p style="padding-left: 17px;" class="small fw-bold mt-2 pt-1 mb-0">Don't have an account?  <a style="color: #C38154;" href="{{ url_for('register') }}"
                class=""> Register</a></p>



                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2 text-center">
<div style="text-align: center; margin-left: 35px;" class="p-md-5">
                <img src="static/woman.png"
                  class="img-fluid" alt="Sample image">
</div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% else %}
<div class="container p-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-12 col-xl-11">
        <div class="card pt-4 text-black" style="border-radius: 25px;">
          <div class="card-body p-md-3 pl-2">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign In</p>
                  <p class="text-left h6 fw-bold mb-3 mx-1 mx-md-4 mt-4" style="color: red; margin-right: 100px;">You have to sign in or sign up to add a new cafe!</p>
                  <div class="px-5 d-flex flex-row align-items-center mb-4">
                {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        {% for message in messages %}
                         <p style="color: red;">{{ message }}</p>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                </div>
                <form class="mx-1 mx-md-4" method="post">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example3c">Your Email</label>
                      <input required="required" name="email" placeholder="Email Address" type="email" id="form3Example3c" class="form-control" />

                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example4c">Password</label>
                      <input required="required" name="password" placeholder="Input Password" type="password" id="form3Example4c" class="form-control" />

                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <button style="background-color: #C38154; color: #fff;" type="submit" class="btn btn-lg">Login</button>
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>

                  </div>
                <p style="padding-left: 17px;" class="small fw-bold mt-2 pt-1 mb-0">Don't have an account?  <a style="color: #C38154;" href="{{ url_for('register') }}"
                class=""> Register</a></p>



                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2 text-center">
<div style="text-align: center; margin-left: 35px;" class="p-md-5">
                <img src="static/woman.png"
                  class="img-fluid" alt="Sample image">
</div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endif %}
{% include "footer.html" %}